<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.me.modules.news.mapper.ArticleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.oa.me.modules.news.entity.Article" id="articleMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="content" column="content"/>
        <result property="comment" column="comment"/>
        <result property="author" column="author"/>
        <result property="state" column="state"/>
        <result property="weight" column="weight"/>
        <result property="copyFrom" column="copy_from"/>
        <result property="cover" column="cover"/>
        <result property="read" column="read"/>
        <result property="username" column="username"/>
        <result property="publishTime" column="publish_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="insertArticle">
        insert into article(
        title,
        summary,
        content,
        author,
        weight,
        copy_from,
        cover,
        `read`,
        username,
        publish_time)
        values
        (#{title},#{summary},#{content},#{author},#{weight},#{copyFrom},#{cover},#{read},#{username},#{publishTime})

    </insert>

    <select id="queryArticleByTitle" resultType="Article" >
        SELECT
           *
        FROM article
       where title=#{title}
    </select>

    <select id="queryArticleByUsername" resultType="Article" >
        SELECT
           title,
           summary,
           comment,
           publish_time
        FROM article
       where title=#{title}
    </select>


    <select id="queryArticleUpload" resultType="Article" >
        SELECT
            id,
            title,
            summary,
            content,
            comment,
            author,
            state,
            weight,
            copy_from,
            cover,
            `read`,
            username
        FROM article
       where upload_state=0 and state =3
    </select>

    <update id="updateUpload">
        update article
        set
            upload_state=1
        where id=#{id}
    </update>


    <select id="queryListByTags"  resultType="Article">
        SELECT
            id,
            title,
            state,
            weight,
            `read`,
            username,
            create_time AS createTime
        FROM article where id in (
                        SELECT
                            article.id
                        FROM
                            article
                        WHERE
                            NOT EXISTS (
                        SELECT
                            *
                        FROM
                            tags
                        WHERE    tags.tag_id in (${tags}) and
                            NOT EXISTS ( SELECT * FROM article_tag  WHERE article_tag.article_id = article.id AND article_tag.tag_id = tags.tag_id   )
                            )
                )and state &lt;  3
        ORDER BY create_time DESC
    </select>

    <select id="queryList"  resultType="Article">
        SELECT
            id,
            title,
            state,
            weight,
            `read`,
            username,
            create_time AS createTime
        FROM article where state &lt;  3
        ORDER BY create_time DESC
    </select>


    <select id="queryArticleByUsername"  resultType="Article" >
        SELECT
            id,
            title,
            state,
            weight,
            `read`,
            username,
            create_time AS createTime
        FROM article
        ORDER BY create_time DESC
    </select>

    <select id="queryDetail" resultType="com.oa.me.modules.news.entity.Article">
        SELECT
            title,
            summary,
            content,
            comment,
            author,
            state,
            weight,
            copy_from    AS copyFrom,
            cover,
            `read`,
            username
        FROM article
        WHERE id = #{id}
    </select>

    <select id="queryIdAndTitle" resultType="java.util.Map">
        SELECT
            t.id    AS id,
            t.title AS title
        FROM (SELECT
                  article.id          AS id,
                  article.title       AS title,
                  article.create_time AS create_time,
                  article.state       AS state
              FROM catalog_tag AS cat RIGHT JOIN article_tag AS art ON cat.tag_id = art.tag_id
                  RIGHT JOIN article ON art.article_id = article.id
              WHERE cat.catalog_id = #{catalogId}
              GROUP BY art.article_id) AS t
        WHERE t.state > 1
        ORDER BY t.state DESC, t.create_time DESC


    </select>

    <update id="updateAudit" >
        update article set
          state = #{state},
          comment = #{comment}
        where id = #{id}
    </update>




</mapper>